@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Josefin+Slab|Arvo|Lato|Vollkorn|Abril+Fatface|Old+Standard+TT|Droid+Sans|Lobster|Inconsolata|Montserrat|Playfair+Display|Karla|Alegreya|Libre+Baskerville|Merriweather|Lora|Archivo+Narrow|Neuton|Signika|Questrial|Fjalla+One|Bitter|Varela+Round);

.background {
    fill: white;
    pointer-events: all;
}

div.dropdown {
    top: 100px;
    right: 0;
    position: absolute;
}

div.statsChooser {
    top: 400px;
    right: 0;
    position: absolute;
}

.svg-container {
    fill: white;
    stroke: black;
    z-index: -1;
    top: 25px;
    position: relative;
}

.effect-layer{
pointer-events:none;
}

text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

text.big-text{
    font-size: 30px;
    font-weight: 400;
}


.slider {
    position: absolute;
    -webkit-appearance: none;
    width: 50px;
    top: 100px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
  